<%-include("partials/header")%>

<style>    
    nav.transparent {
    position: fixed !important;
    background-color: black !important;
    top: 0;
    display: none;
}

#footer{
    display: none;
}

.videocontainer{
    width: 100%;
    align-items: center;
    overflow: hidden;
    display: block;
    text-align: center;
}

.videocontainer img{
    height: 60vh;
    margin: 3vh 0;
}
</style>

<div class="videocontainer">
    <img src="UAS Systems/Screenshot 2021-02-12 at 6.59.21 PM.png">
</div>

<style>
    .eachsysrow{
        margin: 4vh 8vh;
    }
</style>

<div class="row eachsysrow">
    <div class="col l6" style="text-align: center;">
        <h2 style="font-weight: 800; color: #b29c71; font-size: 12vh;">AQUILA 160</h2>
    </div>
    <div class="col l6">
        <p style="font-weight: 500; padding-top: 3vh; font-size: medium;">Aquila 160 is a robust model, the proof of which can be seen in it’s long flying range which extends up to more than 100 Kilometers accompanied by multiple Fail-safes and endurance of up to 3 hours which is a result of it’s Hybrid Power System.</p>
    </div>    
</div>

<style>
    .aqspecs{
        height: 100vh;
        background-color: #ebebeb;
    }

    .div2col li span{
        display: block;
    }


    .div2col li:before{
        background-color: hsla(0,0%,100%,.5);
        width: 4vh;
        display: block;
        content: "";
        height: 1px;
        margin-top: 2vh;
        margin-bottom: 1vh;
    }

    .div2col li .itsspec{
        font-weight: 700;
        padding-bottom: 1vh;
    }
</style>

<div class="aqspecs">
    <div class="row">
            <div class="col l6 aquila160img" style="text-align: center; padding-top: 30vh;">
                <img src="transparents/17-2.png" alt="">
            </div>
            <div class="col l6" style="color: white; padding-top: 20vh;">
                <div class="specsheading" style="font-size: 6vh; font-weight: 700;">
                    Aarush X1 <span style="font-weight: 400;">Specs</span>
                </div>
                <div class="div2col" style="display: inline-flex;">
                    <div>
                        <ul>
                            <li>
                                <span class="itsspec">Range</span>
                                <span>100Km+</span>
                            </li>
                            <li>
                                <span class="itsspec">Max Speed</span>
                                <span>14m/s</span>
                            </li>
                            <li>
                                <span class="itsspec">Power System</span>
                                <span>Hybrid</span>
                            </li>
                            <li>
                                <span class="itsspec">Application</span>
                                <span>Human Tracking</span>
                            </li>
                        </ul>
                    </div>
                    <div style="margin-left:30vh;">
                        <ul>
                            <li>
                                <span class="itsspec">Max Take Off Weight</span>
                                <span>22Kg</span>
                            </li>
                            <li>
                                <span class="itsspec">Payload Capacity</span>
                                <span>1Kg</span>
                            </li>
                            <li>
                                <span class="itsspec">Swarm</span>
                                <span>Scalable upto 75 UAV's</span>
                            </li>
                            <li>
                                <span class="itsspec">Failsafes</span>
                                <span>Multiple</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    <div style="height: 10vh;">

    </div>
</div>

<%-include("partials/footer")%>