<%-include("partials/header")%>

<style>
    nav.transparent{
     background-color: black !important;
     position: fixed !important;
     top: 0;
    }

    .about_inner{
        margin-top:10rem;
        margin-bottom:5rem;
    }

    .capabilities{
        margin-left: 2rem;
    }

    .about div{
        font-weight: 700;
        font-size: 4vw;
    }

    .para1{
        margin:0 9vw;
        padding-top: 3vh;
        font-size: 3vh;
        text-align: center;
    }

    .jumbotron{
        background-image: url("Team_UAS_DTU_Drone_Olympics_Win.jpeg");
        height: 100vh;
        background-position: 0 -10%;
        background-size: cover;
    }
</style>

<div class="jumbotron">

</div>

<div class="container">
    <div class="about_inner">
        <div class="para1" style="font-family: 'Quicksand', sans-serif;">
            <div>
                UAS DTU is a team of meticulous and hardworking undergraduate students from Delhi Technological University (Formerly Delhi College of Engineering) devoted to developing indigenous technological solutions for UAVs.  The team devotedly works towards developing indigenous solutions to reduce India's reliance on COTS products. The team's goal is to develop and harness new technologies in aerospace and defense sector and aid the country in Intelligence, Surveillance, Target Acquisition, and Reconnaissance (ISTAR) and Humanitarian Assistance and Disaster Relief (HADR) . The team till now has made various extraordinary and exceptional models like Aarush X1, Aquila 160, Castor and many more which makes them stand out of the crowd. The team also has a lot of remarkable achievements due to all the hard work put by them to accomplish their goal. UAS DTU has been a promising team and are working towards betterment every day.
            </div>
        </div>
    
    <h4>
        Team Capabilities
    </h4>
        <div class="capabilities">
            <ul>
                <li>•	High performance customized UAS platform integration for mission specific requirements. </li>
                <li>•	UAV swarm technology—the ability of drones to autonomously make decisions based on shared information.</li>
                <li>•	ISTAR - Intelligence, Surveillance, Target Acquisition, and Reconnaissance for military and civilian application.</li>
                <li>•	Humanitarian Assistance and Disaster Relief (HADR) using special drones. </li>
                <li>•	Cost and time effective area search and infrastructure inspection operation by employing    swarm of UAVs.</li>
                <li>•	Autonomous take-off, waypoint navigation and landing for both fixed-wings and multi-rotors, capable of out of sight navigation.</li>
                <li>•	Simultaneous Localization and Mapping (SLAM) technology has been implemented on drones.</li>
                <li>•	Made drones capable of human detection and geotagging.</li>
                <li>•	Made drones which are used for navigation or way-finding in areas denied of GPS.</li>
                <li>•	Manufactured UAVs which include localisation of a target and tracking it in 3D system, obstacle detection and avoidance</li>
            </ul>
        </div>
    </div>
</div>

<%-include("partials/footer")%>