<%-include("partials/header")%>

<style>   
    nav.transparent {
        position: fixed !important;
        top: 0;
        background-color: rgba(216,216,216,0.9) !important;
    }

    .ctn{
        background-color: rgba(216,216,216,0.9);
        margin: 2.3rem 50rem 0 0; 
        padding:1rem 2rem 2rem 4rem;
    }

    .ctn h4{
        font-size: 2.5rem;
        font-weight: 500;
        color:  #b29c71;
        font-family: 'Crete Round', serif;
    }

    .ctn p{
        font-weight: 500;
        font-family: 'DM Sans', sans-serif;
    }

    .main {
        background-repeat: no-repeat;
        background-image: url("WhatsApp Image 2021-01-31 at 18.52.24 (2).jpeg");
        background-size: cover;
    }
</style>

<div class="main" style="background-color: #eeeeee; padding: 40px 0;">
    <div class="ctn">
        <% achievs.map(a => { %>
            <h4><%= a.name %></h4>
            <p><%= a.desc %></p>
        <% }) %>
    </div>
</div>


<%-include("partials/footer")%>
