<%-include("partials/header")%>

<style>    
    nav.transparent {
    position: fixed !important;
    background-color: black !important;
    top: 0;
    display: none;
}

#footer{
    display: none;
}

.videocontainer{
    width: 100%;
    align-items: center;
    overflow: hidden;
    display: block;
}

.videocontainer video{
  object-fit: cover;  
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
</style>

<div class="videocontainer">
    <video loop muted autoplay controls width="100%" height="100%">
        <source src="AQUILA160.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>    
</div>

<style>

    .eachsysrow{
        margin: 13vh 8vh 1vh 8vh
    }
</style>

<div class="row eachsysrow">
    <div class="col l6" style="text-align: center;">
        <h2 style="font-weight: 800; color: #b29c71; font-size: 12vh;">AQUILA 160</h2>
    </div>
    <div class="col l6">    
        <p style="font-weight: 500; padding-top: 3vh; font-size: medium;">Aquila 160 is a robust model, the proof of which can be seen in it’s long flying range which extends up to more than 100 Kilometers accompanied by multiple Fail-safes and endurance of up to 3 hours which is a result of it’s Hybrid Power System.</p>
    </div>    
</div>
 
<style>
    .specs{
        background-image: url("gaia2.jpg");
        background-position: center;
        background-size: cover;
    }

    @media only screen and (min-width: 600px){
    #stage img{
      width: 100%;
      height: 100vh;
    }
    
    #stage {
      height: 100vh;
      width: 100%;
    }
 }
</style>
 

    <div class="specs" style="width: 100%;  height:85vh; text-align: center; display: inline-block; margin:10vh 0 0 0; overflow: hidden; vertical-align:bottom; position: relative; text-align: center;">
        <div class="row" data-aos="fade-up" data-aos-offset="20" data-aos-once="false" data-aos-duration="1000" data-aos-easing="ease-in-out"
        data-aos-mirror="true" style="color:white; position: absolute; bottom: 0; left:35vh; width: 70%;">
            <div class="col l4" style="border-right: 2px white solid;">
                <div style="font-size: 5vh; font-weight: 500; color: white; text-align: center;"> 
                    100Km+
                </div>
                <div style="font-size: 3vh; font-weight: 500; color: white; text-align: center; ">
                    Range
                </div>
            </div>
            <div class="col l4" style="border-right: 2px white solid;">
                <div style="font-size: 5vh; font-weight: 500; color: white; text-align: center;"> 
                    14m/s
                </div>
               <div style="font-size: 3vh; font-weight: 500; color: white; text-align: center; ">
                   Cruise Speed
               </div>
           </div>
           <div class="col l4">
                <div style="font-size: 5vh; font-weight: 500; color: white; text-align: center;">
                    <i class="fas fa-cloud-sun-rain"></i>
                </div>
                <div style="font-size: 3vh; font-weight: 500; color: white; text-align: center; ">
                    All weather adaptable
                </div>
            </div>
        </div>  
    </div>
    
    <div style="height: 30vh;">
        
    </div>    

    <style>
        .videopayload video{
            object-fit: fill;
            height: 100vh;
            width: 25vw;
        }

        .videopayload{
            height: 100vh;
        }

        .content{
            font-size: 3vh;
            width:70vh;
        }

        .content .conline{
            width: 100%;
            padding: 3vh 0 1vh 0;
            border-bottom: 1px solid white;
            
        }
        .conline .specline{
            display: inline-block;
            text-align: left;
        }
        .conline .weight{
            display: inline-block;
            float: right;
        }
    </style>
<div style="background-color: black; height: 100vh;">
    <div class="row" style="height: 100vh; margin-bottom: 0;">
        <div class="col l8" data-aos="fade-up" data-aos-offset="20" data-aos-easing="ease-in-out" data-aos-mirror="true"data-aos-once="false" data-aos-duration="1000" style="padding:10vh 0 0 40vh">
            <div class="heading" style="font-size: 4.5vh; padding-bottom: 25vh;">
                Safe and Autonomous Payload Delivery
            </div>
            <div class="content" style="color: white; height: 50vh; padding-left: 8vh;">
                <div class="conline">
                    <span class="specline">Max Take Off Weight</span> <span class="weight">22Kg</span>
                </div>
                <div class="conline">
                    <span class="specline">Payload Capacity</span> <span class="weight">1Kg</span>
                </div>    
                <div class="conline">
                    Flight Time <span class="weight">3.5hr</span>
                </div>
            </div>
        </div>
        <div class="col l4 videopayload"> 
            <video loop muted autoplay>
                <source src="payload.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</div>

<style>
.swarm_video{
    align-items: center;
    overflow: hidden;
    display: block;
}

.swarm_video .svideo{
    padding: 0;
}

.swarm_video video{
  object-fit: fill;  
  width: 75vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.row .swarmcontent{
    padding: 20vh 8vh 0 10vh
}
</style>

<div class="swarm_video" style="height: 100vh; width:100%">
    <div class="row">
        <div class="col l9 svideo">
            <video loop muted autoplay>
                <source src="swarm.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col l3 swarmcontent" data-aos="fade-up" data-aos-offset="20" data-aos-easing="ease-in-out" data-aos-mirror="true"data-aos-once="false" data-aos-duration="1000" >
            <div class="swarm_heading" style="font-size: 5vh; font-weight: 600; color: black;">
                Swarm 
            </div>
            <div class="swarm_heading" style="padding-top: 4vh; font-size: 2.5vh; font-weight: 400; color: black;">
                Decentralized swarm scalable upto 75 UAV's
            </div>
        </div>
    </div>
</div>

<style>
    .aqspecs{
        height: 100vh;
        background-color: black;
    }

    .div2col li span{
        display: block;
    }


    .div2col li:before{
        background-color: hsla(0,0%,100%,.5);
        width: 4vh;
        display: block;
        content: "";
        height: 1px;
        margin-top: 2vh;
        margin-bottom: 1vh;
    }

    .div2col li .itsspec{
        font-weight: 700;
        padding-bottom: 1vh;
    }
</style>

<div class="aqspecs">
    <div class="row">
            <div class="col l6 aquila160img" style="text-align: center; padding-top: 30vh;">
                <img src="System Images without Background - Copy\aquila (1).png" alt="">
            </div>
            <div class="col l6" data-aos="fade-up" data-aos-offset="20" data-aos-easing="ease-in-out" data-aos-mirror="true"data-aos-once="false" data-aos-duration="1000" style="color: white; padding-top: 20vh;">
                <div class="specsheading" style="font-size: 6vh; font-weight: 700;">
                    Aquila160 <span style="font-weight: 400;">Specs</span>
                </div>
                <div class="div2col" style="display: inline-flex;">
                    <div>
                        <ul>
                            <li>
                                <span class="itsspec">Range</span>
                                <span>100Km+</span>
                            </li>
                            <li>
                                <span class="itsspec">Max Speed</span>
                                <span>14m/s</span>
                            </li>
                            <li>
                                <span class="itsspec">Power System</span>
                                <span>Hybrid</span>
                            </li>
                            <li>
                                <span class="itsspec">Application</span>
                                <span>Human Tracking</span>
                            </li>
                        </ul>
                    </div>
                    <div style="margin-left:30vh;">
                        <ul>
                            <li>
                                <span class="itsspec">Max Take Off Weight</span>
                                <span>22Kg</span>
                            </li>
                            <li>
                                <span class="itsspec">Payload Capacity</span>
                                <span>1Kg</span>
                            </li>
                            <li>
                                <span class="itsspec">Swarm</span>
                                <span>Scalable upto 75 UAV's</span>
                            </li>
                            <li>
                                <span class="itsspec">Failsafes</span>
                                <span>Multiple</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    <div style="height: 10vh;">

    </div>
</div>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<%-include("partials/footer")%>