<%-include("partials/header")%>

<style type="text/css">
 #stage {
      width: 100%;
      height: 100%;
      background-color: black;
      
    }

    #stage a {
      position: relative;
      display: inline-block;
    }

    .slide-holder{
      width: 100%;
      position: relative;
    }

    #stage a:nth-of-type(1) {
      animation-name: fader;
      animation-delay: 10s;
      animation-duration: 0.5s;
      z-index: 20;
    }
    #stage a:nth-of-type(2) {
      display: none;
    }
    #stage a:nth-of-type(n+3) {
      display: none;
    }

    @keyframes fader {
      from { opacity: 1.0; }
      to   { opacity: 0.0; }
    }
 @media only screen and (min-width: 600px){
    #stage a>img{
      width: 100%;
      height: 39rem;
    }
    
    #stage {
      height: 39rem;
      width: 100%;
    }
 }

  @media only screen and (max-width: 600px){
    #stage a>img{
      width: 100%;
      height: 20rem;
    }

    #stage{
      height: 20rem;
      width: 100%;
    }
  }
    


</style>

<script type="text/javascript">

  // Original JavaScript code by Chirp Internet: www.chirp.com.au
  // Please acknowledge use of this code by including this header.

  window.addEventListener("DOMContentLoaded", function(e) {

    var stage = document.getElementById("stage");
    var fadeComplete = function(e) { stage.appendChild(arr[0]); };
    var arr = stage.getElementsByTagName("a");
    for(var i=0; i < arr.length; i++) {
      arr[i].addEventListener("animationend", fadeComplete, false);
    }

  }, false);

</script>
<div class="slide-holder">
  <div id="stage">
    <a href="#"><img src="tarrot.png"></a>
    <a href="#"><img src="aarush1_front.jpg"></a>
    <a href="#"><img src="aarush2_front2.png"></a>
  </div>
</div>





<style>
 .Achievements{
  position: relative;
  background-image: url("Team_UAS_DTU_Drone_Olympics_Win.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 }

 .Achievements h4{
   color: white;
 }
 
 @media only screen and (max-width: 600px){
   .Achievements{
      text-align: left; 
      padding: 6rem 0 0 5rem;
      height: 20rem;
   }

   .Achievements h4{
     font-size:2rem;
     font-weight: 600;
     
   }
 }

 @media only screen and (min-width: 600px){
   .Achievements{
      height: 39rem;
      text-align: left;
      padding: 13rem 0 0 5rem;
   }

   .Achievements h4{
     font-size:3rem;
     font-weight: 600;
     
   }
 }
</style>

<div class="Achievements">
 <div>
    <h4>Achievements</h4>
    <a class="waves-effect waves-light btn-large" style=" height:4rem; width: 10rem; border:2px solid white; background-color: transparent; font-weight: 600; color: white;" href="/achievements">Button</a>
</div>
</div>

<style>
    #parallax{
      background-image: url("dronedark.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      position: relative;
    }

    @media only screen and (max-width:600px){
      #parallax{
        height: 25rem !important;
      }
    }

    @media only screen and (min-width:600px) {
      #parallax{
        height: 39rem !important;
      }
    }
</style>
<div id="parallax">
  <h2 style="color: white; position: absolute; vertical-align: middle; top:40%; left: 50%; transform: translate(-50%, -50%)">SYSTEMS</h2>
</div>

<style>
  #system{
    position: relative;
    margin:2rem 0 0 0;
  }

  #system .row{
    margin-bottom:0;
    background: black;
  }

  #system .col:hover h3{
    visibility: visible;
  }

  #system .col:hover{
    opacity:0.8;
    transition: opacity .5s ease;
    visibility: visible;
  }

  #system .col{
    padding: 0 0 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
  }
  #system .col>h3{
    color: white;
    text-align: center;
    visibility: hidden;
  }

  #col1{
    background-image: url("aether.png");
  }
  #col2{
    background-image: url("gaia.jpeg");
  }
  #col3{
    background-image: url("48.jpg");
  }
  #col4{
    background-image: url("hero.jpg")
  }

  @media only screen and (min-width:600px) {
    #row1{
      height: 22rem;
    }
    #row2{
      height: 20rem;
    }
  }

  @media only screen and (max-width:600px) {
    #row1{
      height: 15rem;
    }
    #row2{
      height: 14rem;
    }
  }
</style>

<div id="system" style="margin:0 0 0 0;">
  <div class="row" id="row1">
    <div class="col l8 m7 s7" id="col1">
      <h3 style="text-align: center; ">Aether</h3>
    </div>
    <div class="col l4 m5 s5" id="col2">
      <h3>Gaia</h3>
    </div>
  </div>
  <div class="row" id="row2">
    <div class="col l5 m5 s5" id="col3">
      <h3>Tarrot</h3>
    </div>
    <div class="col l7 m7 s7" id="col4">
      <h3>Aarush</h3>
    </div>
  </div>
</div>

<style>
  .upcoming_events h2{
    -webkit-text-fill-color:transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }

  .upcoming_events{
    background-image: url("taylor-van-riper-yQorCngxzwI-unsplash.jpg");
    background-position: 50% 55%;
  }

  @media only screen and (min-width:600px){
    .upcoming_events{
      height: 40rem; 
      width:100%;
     }

    .upcoming_events h2{
    font-size: 4.5rem;
    font-weight: 600;
    margin-top: 0;
    margin-left: 8rem;
    white-space: nowrap;
    padding: 14rem 4rem 0rem 0;
    }

    #upcoming_events_img{
      padding-right: 2rem; 
      padding-top:9rem; 
      margin:auto
    }
    
    .upcoming_events a{
    margin-left: 8rem;
  }

  .upcoming_events .inner_events{
    display: flex;
    position: relative;
  }
  }

  @media only screen and (max-width:600px){
    .upcoming_events{
      height: 25rem;
      width: 100%;
      text-align: center;
    }

    .upcoming_events h2{
      padding-top: 8rem;  
      font-size: 2.5rem;
      font-weight: 600;
      margin-top: 0;
      margin-left: 3rem;
      white-space: nowrap;
    }

    .upcoming_events a{
    margin-left: 3rem;
  }
  }
</style>

<div class="upcoming_events">
  <div class="inner_events">
    <div>
      <h2>Upcoming Events</h2>
      <a class="waves-effect waves-light btn-large" style=" height:4rem; width: 10rem; border:3px solid white; background-color: transparent; font-weight: 600;">Button</a>
    </div>
    <div class="hide-on-med-and-down" id="upcoming_events_img">
      <img style="width:100%; height:50%;" src="website logo  final.png" alt="">
    </div>
  </div>
</div>

<style>
.sponsors a{
  padding-right: 3rem;
  display: inline-block;
  padding-bottom: 2rem;
}
.sponsors .sponsor_logo{
  padding-top: 5rem;
  margin-left: 4rem;
  margin-right: 4rem;
}
</style>

<div class="sponsors" style="text-align: center; padding-top: 2rem; padding-bottom: 5rem;">
      <h3 style="font-weight: 500;">Sponsors</h3>
      <div class="sponsor_logo">
        <a href=""><img src="dtu.jpg" alt=""></a>
        <a href=""><img src="r_Reliance_Industries_Logo (2).png" alt=""></a>
        <a href=""><img src="r_adani (1).png" alt=""></a>
        <a href=""><img src="ongc.png" alt=""></a>
        <a href=""><img src="lock1.png" alt=""></a>
      </div>
</div>

<%-include("partials/footer")%>