<%-include("partials/header")%>

<!-- <script>
     $(document).ready(function(){
        $('.carousel.carousel-slider').carousel({
            fullWidth: true,
            indicators: true
        }).css('height',$(window).height());
      
        
    setInterval(function(){
        $('.carousel').carousel('next');
    },10000)
    });    

</script>

<style>
  .carousel{
    position:relative;
  }
/* 
  .slider-holder{
    position: static;
  } */
</style>

<div class="slider-holder">
    <div class="carousel carousel-slider" data-indicators="true">
        <a class="carousel-item" href="/"><img src="aarush1_front.jpg" alt="AB"></a>
        <a class="carousel-item" href="/"><img src="aarush2_front2.png" alt="CD"></a>
        <a class="carousel-item" href="/"><img src="System Images without Background - Copy\Gaia.png" style="background-color: thistle;"alt="CD"></a>
    </div>
</div> -->

<style type="text/css">

  #stage {
    width: 100%;
    height: 100%;
    background-color: black;
  }

  #stage a {
    position: relative;
  }

  .slide-holder{
    width: 100%;
    height: 45rem;
    position: static;
    overflow: hidden;
  }

  #stage a img {
     width: 100%;
     height: 100%;
  }

  #stage a:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 10s;
    animation-duration: 0.5s;
    z-index: 20;
  }
  #stage a:nth-of-type(2) {
    display: none;
  }
  #stage a:nth-of-type(n+3) {
    display: none;
  }

  @keyframes fader {
    from { opacity: 1.0; }
    to   { opacity: 0.0; }
  }

</style>

<script type="text/javascript">

  // Original JavaScript code by Chirp Internet: www.chirp.com.au
  // Please acknowledge use of this code by including this header.

  window.addEventListener("DOMContentLoaded", function(e) {

    var stage = document.getElementById("stage");
    var fadeComplete = function(e) { stage.appendChild(arr[0]); };
    var arr = stage.getElementsByTagName("a");
    for(var i=0; i < arr.length; i++) {
      arr[i].addEventListener("animationend", fadeComplete, false);
    }

  }, false);

</script>
<div class="slide-holder">
  <div id="stage">
    <a href="#"><img src="tarrot.png"></a>
    <a href="#"><img src="aarush1_front.jpg"></a>
    <a href="#"><img src="aarush2_front2.png"></a>
  </div>
</div>





<style>
 .Achievements{
  height: 45rem;
  /* background-color: #2d3436; */
  /* background-image: linear-gradient(to left,#2d3436 40%, #000000 50%); */
  background-image: url("Team_UAS_DTU_Drone_Olympics_Win.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
 }

</style>

<div class="Achievements">
 <div>
    <h4 style="text-align: left; padding: 13rem 0 2rem 8rem; margin: 0 0 0 0; font-weight: 600; font-size: 3.5rem; color: white;">Achievements</h4>
    <a class="waves-effect waves-light btn-large" style=" height:4rem; width: 10rem; border:2px solid white; background-color: transparent; font-weight: 600; color: white; margin: 0 0 0 8rem;">Button</a>
</div>
  <!-- <img src="Team_UAS_DTU_Drone_Olympics_Win.png" alt="" style="margin-right:0; margin-left:15.56%;"> -->
</div>

<style>
    #parallax{
      background-image: url("dronedark.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      height: 40rem;
    }
</style>
<div id="parallax">
  <h2 style="color: white; position: absolute; vertical-align: middle; top:40%; left: 50%; transform: translate(-50%, -50%)">SYSTEMS</h2>
</div>

<style>
  #system{
    position: relative;
    margin:2rem 0 0 0;
  }

  #system .row{
    margin-bottom:0;
    background: black;
  }

  #system .col:hover h3{
    visibility: visible;
  }

  #system .col:hover{
    opacity:0.8;
    transition: opacity .5s ease;
    visibility: visible;
  }

  #system .col{
    padding: 0 0 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
  }
  #system .col>h3{
    color: white;
    text-align: center;
    visibility: hidden;
  }

  #col1{
    background-image: url("aether.png");
  }
  #col2{
    background-image: url("gaia.jpeg");
  }
  #col3{
    background-image: url("48.jpg");
  }
  #col4{
    background-image: url("hero.jpg")
  }
</style>

<div id="system" style="margin:0 0 0 0;">
  <div class="row" id="row1" style="height: 22rem;">
    <div class="col l8 m7 s7" id="col1">
      <h3 style="text-align: center; ">Aether</h3>
    </div>
    <div class="col l4 m5 s5" id="col2">
      <h3>Gaia</h3>
    </div>
  </div>
  <div class="row" id="row2" style="height: 20rem;">
    <div class="col l5 m5 s5" id="col3">
      <h3>Tarrot</h3>
    </div>
    <div class="col l7 m7 s7" id="col4">
      <h3>Aarush</h3>
    </div>
  </div>
</div>

<style>
  .upcoming_events h2{
    margin-top: 0;
    margin-left: 8rem;
  }

  .upcoming_events a{
    margin-left: 8rem;
  }

  .upcoming_events .inner_events{
    display: flex;
    position: relative;
  }
  .upcoming_events{
    background-image: url("taylor-van-riper-yQorCngxzwI-unsplash.jpg");
    background-position: 50% 55%;
  }
</style>

<div class="upcoming_events" style="height: 40rem; width:100%">
  <div class="inner_events">
    <div style="padding: 14rem 4rem 0rem 0;">
      <h2 style="font-weight: 500; white-space: nowrap;">Upcoming Events</h2>
      <a class="waves-effect waves-light btn-large" style=" height:4rem; width: 10rem; border:3px solid white; background-color: transparent; font-weight: 600;">Button</a>
    </div>
    <div style="padding-right: 2rem; padding-top:8rem; margin:auto">
      <img style="width:100%; height:50%;" src="website logo  final.png" alt="">
    </div>
  </div>
</div>

<style>
.sponsors a{
  padding-right: 3rem;
  display: inline-block;
  padding-bottom: 2rem;
}
.sponsors div{
  padding-top: 5rem;
  margin:auto;
}
</style>

<div class="sponsors" style="text-align: center; padding-top: 2rem; padding-bottom: 5rem;">
      <h3 style="font-weight: 500;">Sponsors</h3>
      <div>
        <a href=""><img src="dtu.jpg" alt=""></a>
        <a href=""><img src="r_Reliance_Industries_Logo (2).png" alt=""></a>
        <a href=""><img src="r_adani (1).png" alt=""></a>
        <a href=""><img src="ongc.png" alt=""></a>
        <a href=""><img src="lock1.png" alt=""></a>
      </div>
</div>

<%-include("partials/footer")%>