<%-include("partials/header")%>

<script>
     $(document).ready(function(){
        $('.carousel.carousel-slider').carousel({
            fullWidth: true,
            indicators: true
        }).css('height',$(window).height());

        
    setInterval(function(){
        $('.carousel').carousel('next');
    },10000)
    });    

</script>

<style>
  .carousel{
    position:relative;
  }
/* 
  .slider-holder{
    position: static;
  } */
</style>

<div class="slider-holder">
    <div class="carousel carousel-slider" data-indicators="true">
        <a class="carousel-item" href="/"><img src="aarush1_front.jpg" alt="AB"></a>
        <a class="carousel-item" href="/"><img src="aarush2_front2.png" alt="CD"></a>
        <a class="carousel-item" href="/"><img src="arceus_front.png" alt="CD"></a>
    </div>
</div>


<script>
$(document).ready(function(){
        if($('#menu').hasClass("transparent"))
        {
          console.log("ppp")
        }
});
</script>


<style>
 .card{
     height: 27rem;
     font-family: font-sans-serif;
     border-radius: 1rem 1rem 1rem 1rem;
 }
 
 .card-image{
     height: 13rem;
 }

 .card-image img{
   height: 13rem;   
   border-radius: 1rem 1rem 0rem 0rem  !important; 
 }

 /* .col.s12.m6.l4{
    padding:0 4.5rem 0 4.5rem
 } */

  .card .card-title{
     font-weight: 500;
     padding-bottom:1rem ;
     text-align: center;
     text-size-adjust: auto;
 }

 .card-content{
     font-weight: 400;
     text-size-adjust: auto;
 }

 .Achievements{
   position: relative;
 }
</style>

<div class="Achievements">
<h4 style="text-align: center; padding-top: 4rem; padding-bottom: 2rem; margin-top: 0;">Achievements</h4>
    <div class="row" style="margin:1rem 2rem 1rem 2rem">
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-image">
              <img src="aarush1_front.jpg">
            </div>
            <div class="card-content">
              <div class="card-title">IAF Mehar Baba</div>
              <p>The team qualified to Phase 3 of this competition after 
                  clearing Phase 1 and 2 with a successful demonstration of swarm technology</p>
            </div>
          </div>
        </div>

        <div class="col s12 m6 l4">
            <div class="card">
              <div class="card-image">
                <img src="aarush1_front.jpg">
              </div>
              <div class="card-content">
                <div class="card-title">Lockheed Martin Nvidia Alpha Award</div>
                <p>The team was awarded the Alpha Pilot Drone developmental kit by Lockheed 
                    Martin</p>
              </div>
            </div>
          </div>

          <div class="col s12 m6 l4">
            <div class="card">
              <div class="card-image">
                <img src="aarush1_front.jpg">
              </div>
              <div class="card-content">
                <div class="card-title">Drone Olympics 2019</div>
                <p>The team ranked 1st in the Formation Flying category 
                    and was awarded a cash prize of Rs.5 Lakh</p>
              </div>
            </div>
          </div>
      </div>
</div>

<style>
    #system{
      background-image: url("dronedark.jpg");
      background-size: cover;
      height: 35rem;
    }
</style>
<div id="system">
    <h4 style="text-align: center; padding-top: 4rem; padding-bottom: 2rem; margin-top: 0;">Systems</h4>
</div>

<h1>sfvdfvdqfg</h1>
</div>
<%-include("partials/footer")%>