<%-include("partials/header")%>

<script>
     $(document).ready(function(){
        $('.carousel.carousel-slider').carousel({
            fullWidth: true,
            indicators: true
        }).css('height',$(window).height());
      
        
    setInterval(function(){
        $('.carousel').carousel('next');
    },10000)
    });    

</script>

<style>
  .carousel{
    position:relative;
  }
/* 
  .slider-holder{
    position: static;
  } */
</style>

<div class="slider-holder">
    <div class="carousel carousel-slider" data-indicators="true">
        <a class="carousel-item" href="/"><img src="aarush1_front.jpg" alt="AB"></a>
        <a class="carousel-item" href="/"><img src="aarush2_front2.png" alt="CD"></a>
        <a class="carousel-item" href="/"><img src="System Images without Background - Copy\Gaia.png" style="background-color: thistle;"alt="CD"></a>
    </div>
</div>


<script>
$(document).ready(function(){
        if($('#menu').hasClass("transparent"))
        {
          console.log("ppp")
        }
});
</script>


<style>
 .Achievements{
  height: 45rem;
  background-color: #2d3436;
  background-image: linear-gradient(to left,#2d3436 40%, #000000 50%);
  display: flex
   
 }

</style>

<div class="Achievements">
 <div>
    <h4 style="text-align: left; padding: 13rem 0 2rem 8rem; margin: 0 0 0 0; font-weight: 600; font-size: 3.5rem; color: white;">Achievements</h4>
    <a class="waves-effect waves-light btn-large" style=" height:4rem; width: 10rem; border:2px solid white; background-color: black; font-weight: 600; color: white; margin: 0 0 0 8rem;">Button</a>
  </div>
  <img src="av5.png" alt="" style="text-align: right; margin-left:20%">
</div>

<style>
    #parallax{
      background-image: url("dronedark.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      height: 40rem;
    }
</style>
<div id="parallax">
  <h2 style="color: white; position: absolute; top: 45%; left: 50%; transform: translate(-50%, -50%)">SYSTEMS</h2>
</div>

<style>
  #system{
    position: relative;
    margin:2rem 0 0 0;
  }

  #system .row{
    margin-bottom:0;
    background: black;
  }

  #system .col:hover h3{
    visibility: visible;
  }

  #system .col:hover{
    opacity:0.8;
    transition: opacity .5s ease;
    visibility: visible;
  }

  #system .col{
    padding: 0 0 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
  }
  #system .col>h3{
    color: white;
    text-align: center;
    visibility: hidden;
  }

  #col1{
    background-image: url("aether.png");
  }
  
  #col2{
    background-image: url("gaia.jpeg");
  }
  #col3{
    background-image: url("48.jpg");
  }
  #col4{
    background-image: url("hero.jpg")
  }
</style>

<div id="system" style="margin:0 0 0 0;">
  <div class="row" id="row1" style="height: 22rem;">
    <div class="col l8 m7 s7" id="col1">
      <h3 style="text-align: center; ">Aether</h3>
    </div>
    <div class="col l4 m5 s5" id="col2">
      <h3>Gaia</h3>
    </div>
  </div>
  <div class="row" id="row2" style="height: 20rem;">
    <div class="col l5 m5 s5" id="col3">
      <h3>Tarrot</h3>
    </div>
    <div class="col l7 m7 s7" id="col4">
      <h3>Aarush</h3>
    </div>
  </div>
</div>

<style>
  .upcoming_events{
    margin-left: 8rem;
    margin-top: 12rem;
    background-image: url("uas comp.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }
</style>

<div class="upcoming_events" style="height: 20rem; text-align: left;">
  <h2 style="font-weight: 500;">Upcoming Events</h2>
  <a class="waves-effect waves-light btn-large" style=" height:4rem; width: 10rem; background-color: black; font-weight: 600;">Button</a>
</div>

<div class="sponsors" style="text-align: center;">
      <h3>Sponsors</h3>
</div>

<%-include("partials/footer")%>