<%-include("partials/header")%>

<style>    
    nav.transparent {
    position: fixed !important;
    background-color: transparent !important;
    top: 0;
}

#footer{
    display: none;
}

.specs{
    background-image: url("tilt tricopter.PNG");
    background-position: center;
    background-size: cover;
    width: 100%;  
    height:100vh;
}
 
 .specs .row{
    color:white; 
    position: relative; 
    top:85%;
    text-align: center;
    display: inline-block;
}

.specs .row .col{
    display: inline-block;
}

@media only screen and (min-width: 600px){
    .specs .row .col{
        padding: 0 10vh 0 10vh;
    }
}

@media only screen and (max-width: 600px){
    .specs .row .col{
        padding: 0 2vh 0 2vh;
    }
}

</style>
 

    <div class="specs" style="text-align: center; margin:0; overflow: hidden; vertical-align:bottom; position: relative; text-align: center; vertical-align: bottom;">
        <div class="row" data-aos="fade-up" data-aos-offset="20" data-aos-once="false" data-aos-duration="1000" data-aos-easing="ease-in-out"
        data-aos-mirror="true"> 
            <div class="col l4 m4 s4" style="border-right: 2px white solid;">
                <div style="font-size: 5vh; font-weight: 500; color: white; text-align: center;"> 
                    100Km+
                </div>
                <div style="font-size: 3vh; font-weight: 500; color: white; text-align: center; ">
                    Range
                </div>
            </div>
            <div class="col l4 m4 s4" style="border-right: 2px white solid;">
                <div style="font-size: 5vh; font-weight: 500; color: white; text-align: center;"> 
                    14m/s
                </div>
               <div style="font-size: 3vh; font-weight: 500; color: white; text-align: center; ">
                   Cruise Speed
               </div>
           </div>
           <div class="col l4 m4 s4">
                <div style="font-size: 5vh; font-weight: 500; color: white; text-align: center;">
                    <i class="fas fa-cloud-sun-rain"></i>
                </div>
                <div style="font-size: 3vh; display:inline-block; white-space:  nowrap; font-weight: 500; color: white; text-align: center; ">
                    All weather adaptable
                </div>
            </div>
        </div>  
    </div>

<style>

    .eachsysrow{
        margin: 13vh 8vh 1vh 8vh
    }
</style>

<div class="row eachsysrow">
    <div class="col l6" style="text-align: center;">
        <h2 style="font-weight: 800; color: #b29c71; font-size: 12vh;">TILT TRICOPTER</h2>
    </div>
    <div class="col l6">    
        <p style="font-weight: 500; padding:3vh 0 8vh 8vh; font-size: medium;">Cruising at 90 km/h, the system has a considerably High Range complimented by a phenomenal endurance of up to 85 minutes. The design contains a Tilt-Rotor for increased efficiency and making the model lightweight. Another highlights of this system include it’s Swarming Capabilities.</p>
    </div>    
</div>

<style>
    .aqspecs{
        height: 100vh;
        background-color: black;
    }
/* 
    .aqspecs .aquila160img{
        background-color: #ebebeb;
    } */

    .div2col li span{
        display: block;
    }
    .specsctn {
        color: #fff;
    }

    .div2col li:before{
        background-color: hsla(0,0%,100%,.5);
        width: 4vh;
        display: block;
        content: "";
        height: 1px;
        margin-top: 2vh;
        margin-bottom: 1vh;
    }

    .div2col li .itsspec{
        font-weight: 700;
        padding-bottom: 1vh;
    }
    @media only screen and (max-width: 993px){
        .specsctn {
            padding-left: 7vw !important;
        }

        .aqspecs img{
            width: 100%;
        }
    }
</style>

<div class="aqspecs">
    <div class="row" style="background-color: black; margin-bottom: 0;">
            <div class="col l6 m12 s12 aquila160img" style="text-align: center; padding-top: 30vh;">
                <img src="System Images without Background - Copy\tilt_tricopter.png" alt="">
            </div>
            <div class="col l6 m12 s12 specsctn" data-aos="fade-up" data-aos-offset="20" data-aos-easing="ease-in-out" data-aos-mirror="true"data-aos-once="false" data-aos-duration="1000" style="padding-top: 20vh;">
                <div class="specsheading" style="font-size: 6vh; font-weight: 700; margin-bottom: 5vh;">
                    Tilt Tricopter <span style="font-weight: 400;">Specs</span>
                </div>
                <div class="div2col" style="display: inline-flex;">
                    <div>
                        <ul>
                            <li>
                                <span class="itsspec">Range</span>
                                <span>100Km+</span>
                            </li>
                            <li>
                                <span class="itsspec">Cruise Speed</span>
                                <span>90km/h</span>
                            </li>
                            <li>
                                <span class="itsspec">Power System</span>
                                <span>Battery</span>
                            </li>
                            <li>
                                <span class="itsspec">Application</span>
                                <span>Human Tracking & Reconnaissance</span>
                            </li>
                        </ul>
                    </div>
                    <div style="margin-left:30vh;">
                        <ul>
                            <li>
                                <span class="itsspec">Gross Take Off Weight</span>
                                <span>7Kg</span>
                            </li>
                            <li>
                                <span class="itsspec">Payload Capacity</span>
                                <span>1Kg</span>
                            </li>
                            <li>
                                <span class="itsspec">Swarm</span>
                                <span>Scalable upto 75 UAV's</span>
                            </li>
                            <li>
                                <span class="itsspec">Endurance</span>
                                <span>85 min</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    <div style="height: 10vh; background-color: black;">

    </div>
</div>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<%-include("partials/footer")%>