<%-include("partials/header")%>

<style>   
    nav.transparent {
        position: fixed !important;
        top: 0;
        background-color: rgba(0,0,0,0.75) !important;
    }

    .ctn{
        display: flex;
        flex-direction: row;
    }

    .ctn h4{
        font-size: 2.5rem;
        font-weight: 500;
        color:  #b29c71;
        font-family: 'Crete Round', serif;
    }

    .ctn p{
        font-weight: 500;
        font-family: 'DM Sans', sans-serif;
    }
</style>

<div class="main" style="background-color: #eeeeee; padding: 40px 0;">
    <div class="ctn">
        <div class="row">
        <% projs.map(p => { %>
            <div class="col s12 m6 l4">
                <div class="card" style="margin: 70px 40px;">
                <div class="card-image">
                    <img src="images/sample-1.jpg">
                    <span class="card-title"><%= p.name %></span>
                </div>
                <div class="card-content">
                    <p><%= p.desc %></p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
                </div>
            </div>
        <% }) %>
        </div>
    </div>
</div>


<%-include("partials/footer")%>
